$form-items-width: 400px;

.admin-panel {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  color: white;

  table {
    height: 100%;
    color: white;
  }

  &__no-players {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pagination {
    position: absolute;
    right: 0;
    color: white;
  }

  &__edit-dialog-content {
    width: 450px;
  }
}
