.payment-result {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-content: center;

  font-size: 55px;
  color: white;
  text-align: center;

  padding: 0 40px;
}

.custom {
  font-size: 45px;
}

.big-text {
  font-size: 55px;
}

.balance {
  font-size: 80px;
}

.empty-balance {
  margin-top: 60px;
}

.marginized {
  margin-top: 100px;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-content: center;
}
