.payment-result {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-content: center;

  font-size: 55px;
  color: white;
  text-align: center;

  padding: 0 40px;
}

.balance {
  font-size: 80px;
}
