.registration {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: space-around;

  font-family: BauhausC-Bold;
  font-size: 50px;
  background-image: url("../../assets/images/bg.jpg");
  background-size: cover;

  &__rfid-waiting {
    display: flex;
    flex-direction: column;

    &-button {
      opacity: .3;
    }
  }
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;

  width: 100%;

  overflow-y: unset;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 500px;
  }

  .input {
    height: 200px;
    width: 80%;

    input {
      font-size: 70px;
      background: none;
      border: none;
      outline: none;
      color: black;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: black;
      opacity: 1; /* Firefox */
    }
  }

  .submit {
    font-size: 80px;
    color: black;
  }
}
