.registration {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: space-around;

  &__rfid-waiting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;

    .cancel {
      width: 250px;
      font-size: 40px;
    }
  }

  .content {
    flex: 1;

    display: flex;
    flex-direction: column;

    width: 100%;

    overflow-y: unset;
  }

  .note {
    font-size: 40px;
    color: white;
  }

  .message {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    color: white;

    text-align: center;

    margin-bottom: 150px;
  }


  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-top: 20px;
    padding-bottom: 70px;

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      width: 100%;
      height: 250px;
    }

    .input {
      height: 100px;
      width: 80%;

      input {
        font-size: 35px;
        background: none;
        border: none;
        outline: none;
        color: black;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 1; /* Firefox */
      }
    }

    .submit {
      font-size: 40px;
      color: black;
    }
  }

}
