.registration {
  display: flex;
  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: space-around;

  font-family: BauhausC-Bold;
  background-image: url("../../assets/images/bg.jpg");
  background-size: cover;

  form {
    display: flex;
    flex-direction: column;
    width: 1000px;
  }

  &__rfid-waiting {
    display: flex;
    flex-direction: column;

    &-button {
      opacity: .3;
    }
  }
}
