@font-face {
  font-family: 'Predator';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Predator EOT/Predator-Regular.eot');
  src: url('fonts/Predator EOT/Predator-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Predator Opentype/Predator-Regular.otf') format('woff2'),
  url('fonts/Predator WOFF/Predator-Regular.woff') format('woff'),
  url('fonts/Predator Truetype/Predator-Regular.ttf') format('truetype'),
  url('fonts/Predator SVG/Predator-Regular.svg') format('svg');
}

.top-table {
  height: 100vh;
  width: 100vw;
  background: black url("images/predators_bg.png");
  color: white;
  font-family: Predator;

  &__tournament-number {
    position: absolute;
    top: 165px;
    left: 700px;
    font-size: 50px;
  }

  &__blank {
    position: absolute;
    top: 54px;
    left: 54px;
  }
}
