@font-face {
  font-family: 'Predator';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Predator EOT/Predator-Regular.eot');
  src: url('fonts/Predator EOT/Predator-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Predator Opentype/Predator-Regular.otf') format('woff2'),
  url('fonts/Predator WOFF/Predator-Regular.woff') format('woff'),
  url('fonts/Predator Truetype/Predator-Regular.ttf') format('truetype'),
  url('fonts/Predator SVG/Predator-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Predator-Light';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Predator EOT/Predator-Light.eot');
  src: url('fonts/Predator EOT/Predator-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/Predator Opentype/Predator-Light.otf') format('woff2'),
  url('fonts/Predator WOFF/Predator-Light.woff') format('woff'),
  url('fonts/Predator Truetype/Predator-Light.ttf') format('truetype'),
  url('fonts/Predator SVG/Predator-Light.svg') format('svg');
}

@font-face {
  font-family: 'Predator-Thin';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Predator EOT/Predator-Thin.eot');
  src: url('fonts/Predator EOT/Predator-Thin.eot?#iefix') format('embedded-opentype'),
  url('fonts/Predator Opentype/Predator-Thin.otf') format('woff2'),
  url('fonts/Predator WOFF/Predator-Thin.woff') format('woff'),
  url('fonts/Predator Truetype/Predator-Thin.ttf') format('truetype'),
  url('fonts/Predator SVG/Predator-Thin.svg') format('svg');
}

.top-table {
  position: relative;
  overflow: hidden;

  width: 1920px;
  height: 1080px;
  background: black url("images/predators_bg.png");
  color: white;

  &__table {
    position: absolute;
    left: 364px;
    top: 335px;
    width: 1194px;

    &-row {
      display: flex;
      position: relative;
      font-family: Predator-Thin;
      font-size: 22px;
      width: 100%;
      height: 75px;
    }

    &-cell {
      flex: 1;
      display: inline;

      &--idx {
        width: 120px;
        padding-top: 22px;
        padding-left: 48px;
      }

      &--nickname {
        width: 600px;
        padding-top: 22px;
        padding-left: 20px;
      }

      &--code {
        width: 280px;
        padding-top: 22px;
        padding-left: 20px;
      }

      &--scores {
        width: 100px;
        padding-top: 22px;
        padding-left: 20px;
      }

      &--line {
        position: absolute;
        height: 60px;
        width: 100%;
        top: 20px;
        left: 1px;
        transform: scale(1, 1.5);
      }
    }
  }

  &__tournament-number {
    position: absolute;
    top: 165px;
    left: 700px;
    font-size: 50px;
    font-family: Predator-Light;
  }

  &__date-time {
    position: absolute;
    top: 169px;
    left: 1099px;
    font-size: 40px;
    font-family: Predator-Light;
  }

  &__blank {
    position: absolute;
    top: 54px;
    left: 54px;
  }

  &__navigation {
    display: flex;
    font-family: Predator;
    font-size: 50px;
    position: absolute;
    bottom: 400px;
    right: 70px;
    width: 200px;
    justify-content: center;

    &-arrow {
      cursor: pointer;
      width: 50px;
      text-align: center;
    }
  }

  &__black-hover {
    position: absolute;
    left: 364px;
    bottom: 0;
    width: 1194px;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));
  }
}
