.scoreboard {
  width: 1920px;
  height: 1080px;
  display: flex;
  font-size: 50px;
  font-family: 'BravoRG';
  font-size: 55px;
  color: white;
  padding-top: 170px;

  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }

  &__logo_back {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100vw;
  }

  &__logo {
    position: absolute;
    top: 55px;
    left: 145px;
  }

  &__half {
    z-index:3;
    width: 50%;
    height: 100%;
    padding-left:50px;
  }

  &__labels {
    margin-bottom: -15px;

    &-place {
      margin-left: 30px;
    }

    &-name {
      display: inline-block;
      vertical-align: top;
      width: 480px;
      height: 50px;
    }

    &-time {
      margin-left: 50px;
    }

    &-scores {
      margin-left: 80px;
    }
  }

  &__row {
    margin-top:-100px;
  }

  &__cell {
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    
    &-place {
      text-align: right;
      width: 50px;
    }

    &-name {
      padding-left:50px;
      width: 480px;
    }

    &-time {
      text-align: right;
      width: 90px;
    }

    &-scores {
      text-align: right;
      width: 90px;
    }
  }
}