$form-items-width: 400px;

.set-scores-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

.set-scores {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    width: $form-items-width;
    font-size: 25px;
    margin-top: 0px;
  }

  &__input {
    width: $form-items-width;
    margin: 10px;
  }

  &__spacer {
    margin-top: 10px;
  }
}
