.single-variant {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .question {
    color: white;
    font-size: 85px;
    text-align: center;
    padding: 0 100px;
  }

  .accept {
    width: 400px;
    cursor: pointer;
  }
}
