@font-face {
  font-family: 'BravoRG';
  src: url('BravoRG.eot');
  src: url('BravoRG.woff2') format('woff2'),
       url('BravoRG.woff') format('woff'),
       url('BravoRG.ttf') format('truetype'),
       url('BravoRG.svg#BravoRG') format('svg'),
       url('BravoRG.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

