.input-wrapper {
  display: flex;
  flex-direction: row;

  flex: 1;

  align-items: center;

  height: 180px;
  border: 5px solid deepskyblue;
  border-radius: 50px;

  padding: 5px;

  &__inner-border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    border-radius: 36px;

    flex: 1;

    padding-left: 50px;
    padding-right: 50px;

    border: 5px solid deepskyblue;
    background-color: yellow;
    z-index: 2;
  }

  &__line {
    position: absolute;
    height: 5px;
    width: 100vw;
    left: 0;
    z-index: 0;
    background-color: deepskyblue;
  }

  .center {
    justify-content: center;
  }
}
