@font-face {
  font-family: 'BravoSCT';
  src: url('BravoSCT.eot');
  src: url('BravoSCT.woff2') format('woff2'),
       url('BravoSCT.woff') format('woff'),
       url('BravoSCT.ttf') format('truetype'),
       url('BravoSCT.svg#BravoSCT') format('svg'),
       url('BravoSCT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

