$form-items-width: 400px;

.registered-player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    width: $form-items-width;
    font-size: 20px;
    margin-top: 0px;
  }

  &__input {
    width: $form-items-width;
    margin: 10px;
  }
}
