$fonts-path: '../../assets/fonts';
$bravorg-path: '#{$fonts-path}/BauhausC-Bold';

@font-face {
  font-family: 'BauhausC';
  src: url('#{$bravorg-path}.otf') format('opentype');
}

@font-face {
  font-family: 'BauhausC-Bold';
  font-weight: bold;
  src: url('#{$bravorg-path}.otf') format('opentype');
}

body {
  overflow: hidden;

  font-family: BauhausC-Bold;
  font-size: 25px;
  background-image: url("../../assets/images/bg.jpg");
  background-size: cover;
}
