$form-items-width: 400px;

.edit-player {
  &__input {
    width: $form-items-width;
    margin: 10px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    button {
      width: inherit;
    }
  }
}
