.activity {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: 50px;
  font-family: BauhausC-Bold;
  background-image: url("../../assets/images/bg.jpg");
  background-size: cover;

  padding-bottom: 100px;
}

.header {
  color: white;
  position: absolute;
  top: 300px;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;

  width: 100%;

  overflow-y: unset;
}
