.activity {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding-bottom: 50px;

  overflow-x: hidden;

  .header {
    color: white;
    position: absolute;
    top: 150px;
  }

  .content {
    flex: 1;

    display: flex;
    flex-direction: column;

    width: 100%;

    overflow-y: unset;
  }

  .message {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-bottom: 150px;
    padding: 25px;
    font-size: 50px;
    color: white;
  }
}
