.multiple-variants {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;
}

.variant {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding-left: 50px;
  padding-right: 50px;

  width: 86%;
  background-color: yellow;

  height: 180px;
  border: 5px solid deepskyblue;
  border-radius: 50px;

  font-size: 60px;
}
