.multiple-variants {
  display: flex;
  flex-direction: column;


  align-items: center;

  height: 100%;
  width: 100%;

  overflow-y: auto;
}

.variant {
  display: flex;

  width: 86%;
  font-size: 30px;
  flex-shrink: 0;
  margin-bottom: 50px;

  &.variant:last-child {
    margin-bottom: 0;
  }
}
