.multiple-variants {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;
}

.variant {
  display: flex;

  width: 86%;
  font-size: 60px;
}
